@import "basic";

.container {
  height: 100vh;
  overflow: hidden;
  background-color: rgba($very-dark, 0.2);
  @include flex();
}
// start of code box
.code-box {
  @include sizing(500px, 300px);
  background-color: $light-blue;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba($very-dark, 0.5);
  padding: 20px;

  .code-title {
    width: 100%;
    margin-top: 20px;
    font-size: 1.8rem;
    color: $light-green;
  }

  .code-text {
    margin-top: 20px;
    font-weight: 500;
  }

  .input-box {
    width: 100%;
    margin-top: 30px;
    @include flex(row, center, center);
    column-gap: 2px;
  }

  #code-input {
    all: unset;
    background-color: $light;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
  }

  .code-btn {
    all: unset;
    width: 30%;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid $light-green;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 900;
    color: $light-green;
    transition: all 0.2s;

    &:hover {
      background-color: $light-green;
      color: $light-blue;
    }
  }

  .code-link {
    color: $light-green;
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
  }
}
// end of code box
// start of alert
.alert {
  position: absolute;
  top: 20px;
  opacity: 0;
  left: -500px;
  @include sizing(350px, 100px);
  padding: 20px;
  background-color: $light-yellow;
  border-radius: 10px;
  filter: drop-shadow(0 2px 10px $light-yellow);

  &-title {
    color: $light-red;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .fas {
    color: $light-red;
  }

  &-text {
    font-weight: 500;
  }

  &.active {
    animation: showAlert 5s ease-in-out backwards;
  }
}

@keyframes showAlert {
  0% {
    opacity: 0;
    left: -500px;
  }
  20% {
    opacity: 1;
    left: 20px;
  }
  80% {
    opacity: 1;
    left: 20px;
  }
  100% {
    opacity: 0;
    left: -500px;
  }
}
// end of alert
// Responsive
@media screen and (max-width: 700px) {
  .code-box {
    width: 350px;
  }

  .alert {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .code-box {
    transform: scale(0.8);
  }
}
