@import "../../../sass/basic";

.hamburger-navbar {
  @include sizing(100%, auto);
  @include flex(row, center, space-between);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: $very-dark;
  box-shadow: 0 2px 15px rgba($very-dark, 0.5);

  display: none;
  //   start of logo
  .logo {
    position: relative;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 900;
    color: $light;
    letter-spacing: 1px;
    z-index: 999;

    &::before {
      content: "";
      @include sizing(10px, 10px);
      position: absolute;
      right: -12px;
      bottom: 7px;
      border-radius: 50%;
      background-color: $light-green;
    }
  }
  //   end of logo

  //   start of hamburger icon
  .hamburger {
    position: relative;
    @include flex(column, center, center);
    @include sizing(35px, 35px);
    border-radius: 5px;
    cursor: pointer;

    &-line {
      position: absolute;
      width: 75%;
      height: 2px;
      background-color: $light;
      transition: all 0.3s;

      &:first-child {
        top: 8px;
      }
      &:last-child {
        bottom: 8px;
      }
    }

    &.active {
      .hamburger-line {
        background-color: $light-red;
        &:first-child {
          top: 50%;
          transform: rotate(-45deg);
        }
        &:last-child {
          top: 50%;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateX(100px);
        }
      }
    }
  }
  //   end of hamburger icon
  //   start of hamburger box
  .hamburger-menu-box {
    @include sizing(40%, 100%);
    background-color: $very-dark;
    position: fixed;
    top: 0;
    left: 0;
    @include flex(column, center, flex-start);
    padding: 10px 20px;
    z-index: 9999999999;
    box-shadow: 2px 0 10px rgba($very-dark, 0.6);
    transition: transform 0.5s;
    transform: translateX(-500px);

    &.show {
      transform: translateX(0px);
    }

    .side-menu {
      @include sizing(80%, auto);
      margin-top: 80px;
      @include flex(column, flex-start, center);
      row-gap: 30px;
      padding: 5px;

      &-item {
        width: 100%;
        padding-bottom: 5px;
        list-style-type: none;
        border-bottom: 2px solid $light-green;
      }

      &-link {
        color: $light;
        text-decoration: none;

        &.active {
          color: $light-green;
        }
      }

      .side-acc-btn {
        @include sizing(100%, 35px);
        @include flex();
        outline: none;
        background-color: transparent;
        border: 1px solid var(--clr);
        color: var(--clr);
        text-decoration: none;
        border-radius: 2px;

        &:last-child {
          display: none;
        }
      }
    }
  }
  //   end of hamburger box
  // start of log out box
  .log-out-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sizing(70%, max-content);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px 5px rgba($very-dark, 0.4);
    background-color: $dark-light;
    color: $light-yellow;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;

    .log-out-close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 1.5rem;
      cursor: pointer;
      color: $light-red;
    }

    .log-out-title {
      font-size: 2rem;
    }

    .log-out-text {
      margin: 20px 0;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .log-out-btn {
      width: 100%;
      padding: 10px;
      background-color: transparent;
      border: 2px solid $light-red;
      border-radius: 10px;
      outline: none;
      color: $light-red;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 700;
      transition: all 0.2s;

      &:hover {
        background-color: $light-red;
        color: $light-yellow;
      }
    }

    &.show {
      animation: showBox 0.3s linear forwards;
    }

    @keyframes showBox {
      0% {
        visibility: hidden;
        opacity: 0;
      }
      10% {
        visibility: visible;
      }
      100% {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // end of log out box
}
// responsive

@media screen and (max-width: 670px) {
  .hamburger-menu-box {
    width: 60% !important;
  }
}
@media screen and (max-width: 460px) {
  .logo {
    font-size: 1.3rem !important;
  }
  .side-logo {
    padding-top: 10px !important;
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 750px) {
  .hamburger-navbar {
    display: flex;
  }
}
