@import "../../../sass/basic";

.card {
  margin: 0 auto;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(#000, 0.4);
  @include flex(column, flex-start, flex-start);
}

.img-card {
  &__header {
    width: 100%;
    max-height: 55px;
    min-height: 55px;
    padding: 10px;
    border-bottom: 1px solid rgba(#000, 0.4);
    border-top: 1px solid rgba(#000, 0.4);
    @include flex(column);
    &__title {
      @include sizing(100%, 20px);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      color: #111;
      font-weight: 700;
      font-size: 1.2rem;
      word-wrap: break-word;
    }
  }

  &__img-box {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    height: 200px;

    &__img {
      @include sizing(100%, 100%);
      object-fit: cover;
    }
  }
  &__footer {
    width: 100%;
    height: max-content;
    @include grid(repeat(3, 96px), 1fr);
    padding: 15px 5px;
    color: rgba(#000, 0.7);
    font-weight: 700;

    &__user {
      display: block;
      color: rgba(#000, 0.7);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &__date {
      text-align: center;
    }
    &__time {
      text-align: end;
    }
  }
}

@media screen and (max-width: 350px) {
  .card {
    min-width: 280px;
    max-width: 280px;
  }
  .img-card__footer {
    @include grid(repeat(3, 90px), 1fr);
  }
}
