// colors
$light-yellow-1: #ff9d00;
$light-yellow-2: #ffcf00;
$light-red-1: #ff506c;
$light-red-2: #ff4e4f;
$light-blue-1: #0095c2;
$light-blue-2: #1890ff;
$light-green-1: #00ab9b;
$light-green-2: #59ba5f;
$light-green-3: #0be881;
$orange: #ff8000;
$white: #fefefe;
$lite: #ecf0f1;
$dark-light: #25282c;
$dark: #191c20;
$very-dark: #111417;

// font
@font-face {
  font-family: "Vazir";
  src: url("../fonts/vazir/Vazir-Medium-UI.ttf") format("truetype"),
    url("../fonts/vazir/Vazir-Medium-UI.eot") format("eot"),
    url("../fonts/vazir/Vazir-Medium-UI.woff") format("woff"),
    url("../fonts/vazir/Vazir-Medium-UI.woff2") format("woff2");
}

$font-vazir: "Vazir";

// mixin

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin grid($template-column, $template-row) {
  display: grid;
  grid-template-columns: $template-column;
  grid-template-rows: $template-row;
}

@mixin sizing($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
}
