@import "basic";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: $font-vazir;
}

// start of header
header {
  width: 100%;
  padding: 13px 30px;
  @include flex(column);
}
// start of top header
.top-header {
  position: relative;
  width: 100%;
  @include flex(row, center, flex-start);
}

// start of logo
.site-logo {
  width: 140px;
  height: 45px;
  margin-left: 40px;
}

.link-logo {
  width: 100%;
  height: min-content;
  &:hover {
    cursor: auto;
  }
}

.logo {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
// end of logo
// start of search box
.search-box {
  @include flex();
  column-gap: 10px;
  background-color: rgba($dark, 0.1);
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    background-color: rgba($dark, 0.15);
  }
}

.icon-search-box {
  position: relative;
  padding: 15px 15px 15px 10px;
  @include flex();
  cursor: pointer;

  &::after {
    content: "";
    width: 2px;
    height: 90%;
    background-color: rgba($white, 0.7);
    position: absolute;
    left: 0;
  }
}

.icon-search {
  font-size: 1.3rem;
  color: $light-red-1;
}

.search-box-input {
  all: unset;
  width: 250px;
  height: 45px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 0.9rem;
  caret-color: $light-red-1;
  color: rgba($dark, 0.5);
}
// end of search box
// start of phone box
.phone-box {
  margin-right: 50px;
  @include flex();
}

.phone-header {
  @include flex();
}

.phone-icon {
  font-size: 1.8rem;
  color: $light-green-2;
  transform: rotate(250deg);
}

.phone-number {
  color: $light-green-2;
  font-size: 1.5rem;
  margin: 0 0px 0 10px;
}

.phone-code {
  padding: 10px 15px;
  background-color: rgba($dark, 0.1);
  border-radius: 5px;
  color: rgba($dark, 0.5);
}

.phone-sub {
  color: $light-green-2;
  margin: 0 10px;
  @include flex();
  font-size: 0.9rem;
}
// end of phone box
// start of login box
.login-box {
  position: absolute;
  left: 0%;
  padding: 15px 10px;
  border-radius: 10px;
  border: 1px solid rgba($dark, 0.5);
}

.login-link {
  @include flex();
  column-gap: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  color: rgba($dark, 0.5);
  font-weight: 400;
}

// end of login box
// end of top header
// start of navar(bottom header)
// end of navar(bottom header)
// end of header

// start of under menu styles
// .under-box {
//   width: auto;
//   height: auto;
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: #eee;
//   border-radius: 4px;
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
// }

// .under-box.show {
//   animation: moveRight 0.2s linear forwards;
// }

// @keyframes moveRight {
//   from {
//     opacity: 0;
//     transform: translateX(-20px);
//   }
//   to {
//     opacity: 1;
//     transform: translateX(0px);
//   }
// }

// .under-menu {
//   width: 100%;
//   height: 100%;
//   padding: 20px;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: repeat(auto, 1fr);
//   gap: 10px;
//   opacity: 0;
// }

// .under-menu.show {
//   animation: moveLeft 0.2s linear forwards;
// }

// .under-item {
//   width: 250px;
//   padding: 5px;
//   border-radius: 5px;
//   list-style-type: none;
// }

// .under-link {
//   width: 100%;
//   padding: 10px 20px;
//   @include flex(row, center, flex-start);
//   border-radius: 5px;
//   color: rgba(#000, 0.5);
//   text-decoration: none;
//   font-size: 14px;
//   transition: all 0.2s;
// }

// .under-link:hover {
//   background: rgb(242, 179, 180);
//   background: linear-gradient(
//     90deg,
//     rgba(242, 179, 180, 1) 0%,
//     rgba(255, 175, 176, 1) 100%
//   );
//   color: #000;
// }

// @keyframes moveLeft {
//   0% {
//     opacity: 0;
//     transform: translateX(50px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
//end of under menu styles
