@import "basic";

// start of header
header {
  @include sizing(100%, 90vh);
  background: linear-gradient(
    to top,
    rgba($light-green, 1) 50%,
    rgba($light-green, 0.4)
  );
  display: flex;
  margin-top: 50px;
}

// start of right box
.right-box {
  @include sizing(50%, 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  background-image: url(../pic/122-1500x800.jpg);
  background-size: cover;
  background-position: 20%;
}
// end of right box
// end of left box
.left-box {
  @include sizing(50%, 100%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  background-color: $very-dark;
  @include flex(row, center, flex-start);
  // start of content box
  .content-box {
    width: 60%;
    height: 70%;
    margin-left: 20px;
    @include flex(column, flex-start, flex-start);
    color: $light;

    .header-title {
      font-size: 3rem;
    }

    .header-parag {
      font-size: 1.3rem;
    }
  }
  // end of content box
}
// end of left box

// start of nav

.navbar {
  @include sizing(100%, 60px);
  @include flex(row, center, space-between);
  position: fixed;
  top: 0;
  padding: 5px 20px;
  background-color: $very-dark;
  z-index: 999;

  //   start of logo
  .logo {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    color: $light;
    letter-spacing: 1px;
    z-index: 999;

    &::before {
      content: "";
      @include sizing(10px, 10px);
      position: absolute;
      right: -12px;
      bottom: 7px;
      border-radius: 50%;
      background-color: $light-green;
    }
  }
  //   end of logo
  // start of menu
  .header-menu {
    @include flex(row, center, center);
    column-gap: 30px;
    margin-right: 20px;
    list-style-type: none;

    &-link {
      position: relative;
      text-decoration: none;
      color: $light;
      font-weight: 500;
      transition: 0.2s;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        @include sizing(0%, 2px);
        background-color: $light-green;
        transition: 0.2s;
      }

      &:hover::before {
        width: 100%;
      }

      &:hover {
        color: $light-green;
      }

      &.active {
        color: $light-green;

        &::before {
          display: none;
        }
      }
    }
  }
  // end of menu
}
// end of nav

// end of header
// start of green text
.green-text {
  color: $light-green;
}
// end of green text
