@import "basic";

// start of header
header {
  @include sizing(100%, 90vh);
  background: linear-gradient(
    to top,
    rgba($light-green, 1) 50%,
    rgba($light-green, 0.4)
  );
  display: flex;
  margin-top: 50px;
}

// start of right box
.right-box {
  @include sizing(50%, 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  background-image: url(../pic/Header.jpg);
  background-size: cover;
  background-position: 20%;
  transition: filter 0.5s;
}
// end of right box
// end of left box
.left-box {
  @include sizing(50%, 100%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  background-color: $very-dark;
  @include flex(row, center, flex-start);
  transition: filter 0.5s;
  // start of content box
  .content-box {
    width: 60%;
    height: 70%;
    margin-left: 20px;
    @include flex(column, flex-start, flex-start);
    color: $light;

    .header-title {
      font-size: 3rem;
    }

    .header-parag {
      font-size: 1.3rem;
    }
  }
  // end of content box
}
// end of left box

// end of header
// start of green text
.green-text {
  color: $light-green;
}
// end of green text
