@import "basic";

// start of header
header {
  @include sizing(100%, 90vh);
  background: linear-gradient(
    to top,
    rgba($light-green, 1) 50%,
    rgba($light-green, 0.4)
  );
  display: flex;
  margin-top: 50px;
}

// start of right box
.right-box {
  @include sizing(50%, 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  background-image: url(../pic/Header.jpg);
  background-size: cover;
  background-position: 20%;
  transition: filter 0.5s;
}
// end of right box
// end of left box
.left-box {
  @include sizing(50%, 100%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  background-color: $very-dark;
  @include flex(row, center, flex-start);
  transition: filter 0.5s;
  // start of content box
  .content-box {
    width: 60%;
    height: 70%;
    margin-left: 20px;
    @include flex(column, flex-start, flex-start);
    color: $light;

    .header-title {
      font-size: 3rem;
    }

    .header-parag {
      font-size: 1.3rem;
    }
  }
  // end of content box
}
// end of left box

// end of header
// start of main
.main {
  position: relative;
  @include sizing(100%, auto);
  margin-bottom: 300px;
  // start of svg
  .custom-shape-divider-top-1692537920 {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1692537920 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-top-1692537920 .shape-fill {
    fill: #111417;
  }
  // end of svg
  // start of post container
  .home-post-container {
    @include sizing(100%, auto);
    padding-top: 120px;
    padding-bottom: 20px;

    .home-post-header {
      @include sizing(100%, auto);
      @include flex(column, flex-start, center);
      margin-left: 20px;
      row-gap: 5px;

      &-title {
        font-size: 2rem;
      }

      .home-post-header-line {
        @include sizing(80%, 3px);
        background-color: $very-dark;
        border-radius: 10px;
      }
    }
  }
  .post-box {
    width: 100%;
    @include flex();
  }
  .post-container {
    @include sizing(90%, auto);
    @include grid(repeat(3, 1fr), auto);
    gap: 20px;
    padding: 30px 50px;
  }
  // end of post container
  // start of attention box
  .attention-box {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    @include sizing(80%, 100px);
    margin: 0 auto;
    background-color: rgba($light-yellow, 0.8);
    filter: drop-shadow(0 2px 10px $light-yellow);
    padding: 20px;
    border-radius: 10px;

    .box-header {
      width: 100%;
      @include flex(row, center, flex-start);

      .box-title {
        @include flex();
        column-gap: 5px;
        font-size: 1.2rem;
      }
    }

    .box-body {
      margin-top: 20px;
    }
  }
  // box of attention box
}
// end of main
// responsive
@media screen and (max-width: 1295px) {
  .content-box {
    height: 100% !important;
    width: 70% !important;
  }
}
@media screen and (max-width: 980px) {
  .content-box {
    height: 90% !important;
    .header-title {
      font-size: 2.3rem !important;
    }
  }
}

@media screen and (max-width: 920px) {
  .post-container {
    padding: 30px 0 !important;
  }
}
@media screen and (max-width: 800px) {
  .left-box {
    width: 60%;
  }
}
@media screen and (max-width: 980px) {
  .content-box {
    .header-title {
      font-size: 2rem !important;
    }
    .header-parag {
      font-size: 1rem !important;
    }
  }
}
@media screen and (max-width: 750px) {
  .post-container {
    padding: 30px !important;
    @include grid(repeat(2, 1fr) !important, auto);
  }
}
@media screen and (max-width: 630px) {
  .post-container {
    padding: 30px 0 !important;
    @include grid(repeat(2, 1fr) !important, auto);
  }
  header {
    display: block;
    position: relative;
    // transform: rotate(-90deg);
    margin-top: 45px;
    width: 100%;

    .right-box {
      position: absolute;
      top: 0%;
      left: 0%;
      clip-path: none;
      width: 100%;
      height: 50%;
    }

    .left-box {
      position: absolute;
      bottom: 0;
      left: 0%;
      clip-path: none;
      width: 100%;
      height: 50%;
      align-items: flex-start;
      justify-content: center;
    }
    .content-box {
      width: 90% !important;
    }
  }
  .custom-shape-divider-top-1692537920.shape {
    display: none;
  }
  .home-post-container {
    padding-top: 50px !important;
  }
}

@media screen and (max-width: 550px) {
  .post-container {
    padding: 30px !important;
    @include grid(repeat(1, 1fr) !important, auto);
  }
}

@media screen and (max-width: 520px) {
  header {
    height: 500px !important;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 330px) {
  header {
    height: 600px !important;
  }
}
